body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header{
  text-align: center;
}

.monster{
  position: absolute;
right: 0px;
bottom: 200px;
}

.user_img{
  position: absolute;
  left: 0px;
  bottom: 200px;
}

.user_img_2{
  position: absolute;
  left: 500px;
  bottom: 200px;
  opacity: 0.2;
}
